// Variable overrides first
$danger: #d51125;
$primary: #145a97;
$primary-emphasis: #002a5c;
$enable-shadows: true;
$prefix: "mo-";
$font-family-sans-serif: 'Open Sans', sans-serif;
$grid-columns: 14 !default;
$h1-font-size: 48px;
$h2-font-size: 36px;
$h3-font-size: 32px;
$small-font-size: 11px;
$input-btn-font-size: 18px;
$position-values: (
    0: 0,
    5: 5%,
    10: 10%,
    20: 20%,
    25: 25%,
    50: 50%,
    60: 60%,
    70: 70%,
    80: 80%,
    85: 85%,
    90: 90%,
    100: 100%
);
$form-check-input-checked-color: $danger;
$form-check-input-checked-bg-color: white;


//Pour lancer la compilation automatique du fichier SCSS : sass --watch scss:css  

#buttonForm:hover{
    background-color: white;
    color: $danger;
}

#price{
    background-color: $danger;
    color: white; 
    border: none;
}
#price:hover{
    background-color: $primary-emphasis;
    color: white;
    transition-duration: 500ms;
    cursor: pointer;
}

#location{
    background-color: #d5112520;
    color: $danger;
    font-weight: 600;
}
#location:hover{
    background-color: $danger;
    color: white;
    transition-duration: 500ms;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#form{
    position: absolute;
    top: 60%;
    right: 5%;
    width: 30%;
}

/*ne s'exécute que quand la largeur d'écran est <= 991.98px*/

@media screen and (max-width:991.98px)
{
    #form{
        position: static;
        top: auto;
        bottom: auto;
        width: 70%;
        margin-top: 50px; 
    }
}

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Import font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
